<header class="mainheader fixed-head">
  <div class="container-xl">
    <a href="https://www.webdatarocks.com/?r=gh_sample_angular" target="blank" rel="noopener noreferrer" class="logo">
      <img src="https://www.webdatarocks.com/base/assets/img/logo.svg" alt="" />
    </a>
    <ul class="mainnav">
      <li>
        <a href="https://www.webdatarocks.com/demos/angular/pivot-table-demo/?r=gh_sample_angular" target="blank" rel="noopener noreferrer">Demos</a>
      </li>
      <li>
        <a href="https://www.webdatarocks.com/doc/angular/how-to-start-online-reporting/?r=gh_sample_angular" target="blank" rel="noopener noreferrer">Integration with Angular</a>
      </li>
      <li>
        <a href="https://www.webdatarocks.com/doc/angular/intro?r=gh_sample_angular" target="blank" rel="noopener noreferrer">Docs</a>
      </li>
      <li>
        <a href="https://www.webdatarocks.com/about-us/?r=gh_sample_angular" target="blank" rel="noopener noreferrer">About us</a>
      </li>
    </ul>
  </div>
</header>